@charset "UTF-8";

/*body {
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}*/

/*body {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}*/

body {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(216, 239, 245);
    color: blue;
}

p {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}